* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ROOT*/

:root {
    /*title-color*/
    --title-color: white;

    /*bg-color*/
    --bg-body:#083b4c;
    --bg-number:#1389b2;
    --bg-Fizz: #0bd6a1;
    --bg-Buzz:#ffd166;
    --bg-FizzBuzz:#f0466f;
}

/* HEADER */
.title {
    padding: 2rem;
    text-align: center;
    color: var(--title-color);
}

/* MAIN */
body {
    background-color:var(--bg-body) ;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.square {
    width: calc((100% - 9rem) / 10 );
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black; 
}

/* bgColor */

.bg-number {
    background-color: var(--bg-number);
}

.bg-fizz {
    background-color: var(--bg-Fizz);
}

.bg-buzz {
    background-color: var(--bg-Buzz);
}

.bg-fizz-buzz {
    background-color: var(--bg-FizzBuzz);
}